{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #bg{
            background-size: 1800px 900px;
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;
    </style>
}
    
    
</head>
<body>
    <script src="{% static 'home/js/home.js' %}"></script>
    {% block content %} 
        <body id="bg" style="background-image: url('{% static "assets/background.jpg"%}')";>
    {% endblock %}
</body>

</html>