{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row">
  {% for listings in listing %}
  <div class="col p-2 ">
    <div class="card" style="width: 18rem; max-height: 26rem;">
    <img class="card-img-top" src="{{ listings.listing_imgs.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ listings.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ listings.catagory }}</h6>
      <p class="card-text">{{ listings.description }}</p>
      <button type="button" class="btn btn-link">Link</button> <!--HERE LMAO-->
    </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}




<!-- ADD SLUG LINK BRO
    IDK HOW YET BUT I THINK ITS something to do with "listings.slug"
    its 3am AHHHHHHH
    goodluck future me, im going to bed. Have fun 👋🥳😹
-->